.display-flex {
  display: flex;
}

.half-width {
  width: 50%;
}

.half-max-width {
  max-width: 50%;
}

.full-width {
  width: 100%;
}

.center-margin {
  margin: 0 auto;
}

.padding-bottom-1rem {
  padding-bottom: 1rem;
}

.margin-bottom-1rem {
  margin-bottom: 1rem;
}

.form-max-width {
  max-width: 40rem;
}

.input-div {
  flex: 1 1 calc(20% - 12px);
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;
}

.input-label {
  font-weight: bold;
  font-size: 14px;
  text-align: left;
}

.input-field {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
}

.input-field-dropdown {
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
}
